.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

p{
    margin:0;
    text-align: center;
}
h3{
    text-align: center;
    margin: 10px 30px;
    background-color: rgb(233, 229, 229);
    border-radius: 20px;
    font-size: 16pt;
}

.odd{
    background-color: lightblue;
    padding: 16px 8px;
}
.even{
    background-color: lightgoldenrodyellow;
    padding: 16px 8px;
}